canvas {
  display: block;
  -moz-opacity:0.2;
  /* For older FF versions */
  -khtml-opacity:0.2;
  opacity:0.2;
  filter:alpha(opacity=20);
  height: auto;
  width: auto;
  position: absolute;
  z-index: -1;
}

.score_title {
  color: silver;
  text-align: center;
  font-size: 2em;
}

.player_title {
  color: silver;
  text-align: center;
}

.player_info {
  font-size: 18px;
  font-weight: 300;
  color: silver;
  text-align: center;
  margin-top: 10px;
  color: white;
}

.btn {
  margin-top: 30px;
  margin-left: 400px;
}

body {
  background:#000 url(http://78waves.com/bg.jpg);
}

#title {
  text-align: center;
  color: silver;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3.5em;
}

#title2 {
  text-align: center;
  color: silver;
  margin-top: 5%;
  margin-right: 10px;
  font-size: 2em;
  margin-bottom: 2%;
}
